body {
    background-color: black;
    font-family: Tahoma, sans-serif;
    color: white;
    text-align: center;
    margin: 0 100px;
}

header {
    padding: 20px;
}

#main-content {
    max-width: 800px;
    margin: 100px auto;
}

#introduction h1,
#introduction h3 {
    color: white;
    text-align: center;
}

#main-image img {
    max-width: 100%;
    height: auto;
}
.photo-gallery img {
    max-width: 100%;
    height: auto;
    margin: 5px;
}