body {
    background-color: black;
    font-family: Tahoma, Arial, sans-serif; /* Set Tahoma as the primary font */
    color: white;
    text-align: center;
    margin: 0;
}

header {
    padding: 20px;
}

#main-content {
    max-width: 800px;
    margin: 20px auto;
}

#introduction h1,
#introduction h3 {
    color: white; /* Set text color explicitly */
    text-align: center;
}

#main-image img {
    max-width: 100%;
    height: auto;
}
